
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section script{

}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenido!</h1>
        <p class="lead">Taller de ejemplo para las operaciones CRUD (crear, consultar, eliminar, actualizar) de Usuarios. Con la tecnolog&iacute;a .Net MVC, EntityFramework y JQuery</p>
        <a class="btn btn-primary btn-lg" href="/Customer/CreateIndex?Length=8" role="button">Empecemos!</a>
        <a class="btn btn-outline-primary btn-lg" href="/Customer/ReadIndex?Length=8" role="button">Listado</a>
    </div>
</div>